# Виртуальное окружение
venv/
.env

# Скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo

# Логи и временные файлы
*.log
instance/

# Системные файлы
.DS_Store
Thumbs.db

# Конфиденциальные данные
config.py
*.env

# Статические файлы, загруженные пользователями (если есть)
static/uploads/
static/invoices/
static/passports/
static/
/var/www/html/photos/
