# Виртуальное окружение
venv/
.env

# Скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.py[cod]
*$py.class

# Логи и временные файлы
*.log
*.tmp
*.bak
*.old
*.swp
*.swo
*~
instance/

# Системные файлы
.DS_Store
Thumbs.db

# Конфиденциальные данные
config.py
*.env

# Статические файлы, загруженные пользователями (если есть)
static/uploads/
static/invoices/
static/passports/
static/
/var/www/html/photos/
