<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Сводный список ТМЦ{% endblock %}

{% block content %}
<h1>Сводный список Товарно-Материальных Ценностей</h1>

{% if grouped_tmc %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Фото</th>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for item in grouped_tmc %}
            <tr>
                <td>
                    {% if item.nome_photo %}
                        <img src="{{ url_for('static', filename='uploads/' + item.nome_photo) }}" 
                             alt="Фото наименования" 
                             style="max-width: 80px; max-height: 80px; object-fit: contain;">
                    {% else %}
                        <span class="text-muted">Нет фото</span>
                    {% endif %}
                </td>
                <td>{{ item.nome_name }}</td>
                <td>{{ item.quantity }} шт.</td>
                <td>
                  <!-- Детальный просмотр -->
                    <a href="{{ url_for('list_by_nome', nome_id=item.nomeid) }}" class="btn btn-sm btn-outline-secondary">Подробнее </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>В базе данных пока нет ТМЦ.</p>
{% endif %}
{% endblock %}